/*Fonte para Texto:*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&family=Libre+Franklin:wght@300&display=swap');
/*Fonte para Título*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

#tiulo{
  font-size: 2.40em
  text-align: center;
   color:#d14b62;    
   letter-spacing : 0.2em;
 
      }
    
    #imagem {
    margin:bottom;
    max-width: 50%;
    background-color:#a5a4cd;
    }


